name: PR Check

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          submodules: true
      - uses: ./FFXIVClientStructs/.github/composites/update-dotnet
      - name: Install docfx
        run: dotnet tool install -g docfx
      - name: Build CS
        run: dotnet build -c Release FFXIVClientStructs/FFXIVClientStructs/FFXIVClientStructs.csproj
      - name: Create manifest files
        run: docfx manifest
      - name: Correct properties
        run: dotnet run --project .\DocFixer\DocFixer.csproj
      - name: Build page
        run: docfx build