name: PR Check

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  dotnet-ver: '10.x'
  docfx-ver: '2.78.4'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          submodules: true
      - uses: ./FFXIVClientStructs/.github/composites/update-dotnet
      - name: Dotnet Setup
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.dotnet-ver }}
      - name: Install docfx

        run: dotnet tool update -g docfx --version ${{ env.docfx-ver }}
      - name: Build CS
        run: dotnet build -c Release FFXIVClientStructs/FFXIVClientStructs/FFXIVClientStructs.csproj
      - name: Create metadata files
        run: docfx metadata
      - name: Correct properties
        run: dotnet run --project ./DocFixer/DocFixer.csproj
      - name: Build page
        run: docfx build